/* this is a css style sheet, the syntax for a comment in CSS is different because it's a separate language to HTML */
/* below I am calling all the different HTML elements that I have used in the page and describing how it should be rendered on screen within the {curly brackets}. */

body {
  background-image: url("assets/motherr.jpeg");
}

h1 {
    color: Red;
    text-align: center;
}

h2 {
    color: cyan;
  text-align:left;
}
h3 {
  color: red;
  text-align:left;
}
#select {
  text-align:center;
}
p {
    color: 556B2F;
  text-align: left;
}

.my-pre {
   background: white;
   color:  red;
   padding: 20px;
 }
.my-pre2 {
	text-align: right;
}
  #mydiv2 {
  position: absolute;
  top: 8px;
  right: 16px; 
  z-index: 9;
  text-align: right;
   
  }



#mydiv2header {
  cursor: move;
  z-index: 10;
  background-color: transparent;  
}footer {
    position: fixed; bottom: 0em;
}


#mydiv {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#mydivheader {
  cursor: move;
  z-index: 10;
  background-color: transparent;  
}footer {
    position: fixed; bottom: 0em;
}
}
#incel {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#incelheader {
  cursor: move;
  z-index: 10; 
}


}
/* to call a class put a . before its name */
.newacronym{
    color: aquamarine;
}

.box1 {
    border: white;
    padding: 1em;
  text-align: left;
}

#img-container {
  text-align: center;
}
.button {
  display: block;
  position: relative;
  text-align: center;
}


